<!-- index.hbs -->
<h1>Reservation</h1>
<link rel="stylesheet" href="/css/style.css">

<div id="nav-placeholder"></div>
	  

      <script src="//code.jquery.com/jquery.min.js"></script>
      <script>
        $.get("../navbar.html", function(data){
        $("#nav-placeholder").replaceWith(data);
      });
      </script>

<table>
  <thead>
    <tr>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Customer ID</th>
      <th>Room ID</th>
      
    </tr>
  </thead>
{{#each reservations}}
  <tr>
    <td>{{check_in}}</td>
    <td>{{check_out}}</td>
    <td>{{customer_id}}</td>
    <td>{{room_id}}</td>
  </tr>
{{/each}}
</table>

<br>
        <br>
        <caption>Add a new reservation:</caption><br><br>
        <form id="add-reservation-form" method="POST" action="/add-reservation-form">
          <label for="checkin">Check-In Date</label>
          <input type="date" id="input-first_name" name="input-first_name" value="Start Date" min="2022-01-01" max="2023-12-31">
          <label for="checkout">Check-Out Date</label>
          <input type="date" id="input-last_name" name="input-last_name" value="End Date" min="2022-01-02" max="2023-12-31">
          <select name="input-customer" id="input-customer-ajax">
            <option value="">Select a Customer</option>
            {{#each customers}}
            <option value="{{this.customer_id}}">{{this.first_name}}</option>
            {{/each}}
          </select>
          <select name="input-room" id="input-room-ajax">
            <option value="">Select a Room</option>
            {{#each rooms}}
            <option value="{{this.room_id}}">{{this.room_id}}</option>
            {{/each}}
          </select>
          <input type="submit" value="Submit">
        </form>

