<!-- index.hbs -->
<h1>Rooms</h1>
<link rel="stylesheet" href="/css/style.css">

<div id="nav-placeholder"></div>
	  

      <script src="//code.jquery.com/jquery.min.js"></script>
      <script>
        $.get("../navbar.html", function(data){
        $("#nav-placeholder").replaceWith(data);
      });
      </script>

<table>
  <thead>
    <tr>
      <th>Room ID</th>
      <th>Clean</th>
      <th>Occupied</th>
      <th>Cat ID</th>
      <th>Employee ID</th>
      <th>Reservation ID</th>
    </tr>
  </thead>
{{#each room}}
  <tr>
    <td>{{room_id}}</td>
    <td>{{clean}}</td>
    <td>{{occupied}}</td>
    <td>{{cat_id}}</td>
    <td>{{employee_id}}</td>
    <td>{{reservation_id}}</td>
  </tr>
{{/each}}
</table>

